@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

:root {
    --surface-color: #fff;
    --curve: 40;
}

.cards__container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
    width: 50vh;
    margin: 10px;
    list-style: none;
}




.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    margin: 3rem 2vw;
    padding: 0;
    list-style-type: none;
}

.card {
    position: relative;
    display: block;
    height: 100%;
    border-radius: calc(var(--curve) * 1px);
    overflow: hidden;
    text-decoration: none;
}

.card__image {
    width: 100%;
    height: auto;
    transition: transform .2s ease-in-out;
}

.card__image:hover {
    transform: scale(1.07);

}

.card__arc {
    width: 80px;
    height: 80px;
    position: absolute;
    bottom: 100%;
    right: 0;
    z-index: 1;
}

.card__arc path {
    fill: var(--surface-color);
    d: path("M 40 80 c 22 0 40 -22 40 -40 v 40 Z");
}

.card:hover .card__header {
    transform: translateY(0);
}

.card__thumb {
    flex-shrink: 0;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.card__title {
    font-size: 1em;
    margin: 0 0 .3em;
    color: #6A515E;
}

.card__tagline {
    display: block;
    margin: 1em 0;
    font-family: "MockFlowFont";
    font-size: .8em;
    color: #D7BDCA;
}



.card__info__container {
    display: flex;
    justify-content: center;
    align-items: center;

}

.card__info {
    position: absolute;
    top: 0;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 1.5em;

}