.cardPage__main__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cardPage__title__container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
    text-align: center;
}

.cardPage__title {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 4em;
}

.cardPage__eventInfo {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-evenly;

}

@media screen and (max-width: 768px) {
    .cardPage__eventInfo {
        flex-direction: column;
    }

}

.cardPage__eventInfo__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cardPage__video__container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
}

.cardPage__aboutEvent {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    margin-top: 5%;
}

.cardPage__aboutEvent p {
    font-family: "Montserrat", sans-serif;
    text-align: center;
}

.cardPage__eventImages {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 2%;

}

.cardPage__eventImages img {
    margin: 2%;
    height: 400px;
    width: 400px;

}

.cardPage__eventImages__title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2%;
}

.cardPage__eventImages__title p {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 2.5em;
    text-align: center;
    margin-top: 5%;
}

@media screen and (max-width: 768px) {
    .cardPage__eventImages__title p {
        font-size: 1.5em;
        text-align: center;
    }
}